<form method="post" action="{{ path('user_hotel_delete', {'id': hotel.id}) }}" onsubmit="return confirm('Silmek İstediğinizden Emin misiniz?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hotel.id) }}">
    <button class="btn btn-block btn-danger">Delete</button>
</form>
